#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
  justify-content: space-around;
}

.site {
  display: flex;
  align-items: center;
}

.logo-container img{
  height: 90px;
}

.title {
  font-size: 32px;
  margin: 0;
  font-weight: bolder;
}

.techStack {
  display: flex;
  align-items: center;
}

.techLogo {
  height: 50px;
  width: auto; /* Ensure the width scales proportionally */
  margin-left: 30px; /* Space between tech logos */
}

/* Data Table CSS */

/* Features CSS */
.features {
  display: flex; /* Make the features div a flex container */
  width: 100%;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 5px;
}

.search-container {
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: space-between;
}

.search-container input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  width: 400px;
  justify-content: flex-end;
}

.search-container input:focus {
  outline: none;
  border-color: #999;
}

.clear-icon {
  height: 24px;
  padding: 0 5px;
  cursor: pointer; /* Add cursor pointer for clear icon */
}

.feature-btns {
  display: flex;
  align-items: center;
  margin-left: 15px; /* Space between input and buttons */
  margin-right: 40px;
  padding: 0 10px;
}

.feature-btns button {
  border: none;
  background-color: white;
  padding: 0px 15px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer; /* Add cursor pointer for buttons */
}

.feature-btns button i {
  font-size: 20px;
}

/* Pagination feature */
.pagination-feature button{
  width: 120px;
  background-color: #dddbdb;
  color: black;
  margin: 10px;
  font-size: 1.5rem;
}

.pagination-feature button:hover{
  background-color: black;
  color: white;
  font-weight: bolder;
}
